

.App-logo {
  
  pointer-events: none;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 200px;
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav_items{
  list-style: none;
  display: flex;
}

.nav_items > li {
  padding:10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
